doctype html 
html 
    head 
        title  Hip-Hop Dance Academy
        block scripts 
        block style
    body 
        nav#navbar
            ul
                div#logo 
                    img(src="static/Logo (2).png", alt="image not loading")
                    |   HDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class info]
                li #[a(href="/contact") Contact us]

        block content 
        footer#footer 
            | Copyright © 2021 Hip-Hop Dance Academy